# List

In [ ]:
nama_teman = ['Arie', 'Budi', "Cinta", "Donny", "Elang"]
print(nama_teman)

['Arie', 'Budi', 'Cinta', 'Donny', 'Elang']

In [ ]:
daftar_acak = ['Edi', 25, 175.3, 'Kelas XII IPA 5']
print(daftar_acak)

['Edi', 25, 175.3, 'Kelas XII IPA 5']

In [ ]:
buah = ['Apel', 'Mangga', 'Jeruk', 'Mangga']
print(buah)

['Apel', 'Mangga', 'Jeruk', 'Mangga']

In [ ]:
# indexing

print(nama_teman[0])
print(nama_teman[1])
print(nama_teman[2])

Arie
Budi
Cinta

In [ ]:
# replace value

nama_teman[0] = 'Andi' # => Masukkan 'Andi' ke list nama_teman di index 0
print(nama_teman)

['Andi', 'Budi', 'Cinta', 'Donny', 'Elang']

In [ ]:
nama_teman[0] == 'Arie'
# 'Andi' == 'Arie'

In [ ]:
print(nama_teman)

['Andi', 'Budi', 'Cinta', 'Donny', 'Elang']

In [ ]:
# slicing

print(nama_teman[0:4])

['Andi', 'Budi', 'Cinta', 'Donny']

In [ ]:
# slicing with step

print(nama_teman[::2])
# jika start tidak di-declare maka dianggap mengambil dari index 0
# jika stop tidak di-declare maka dianggap mengambil sampai value paling akhir
# jika step tidak di-declare maka dianggap step-nya 1

['Andi', 'Cinta', 'Elang']

In [ ]:
nama_teman[-1]

'Elang'

In [ ]:
# slicing with step (backward)

print(nama_teman[3::-1])

# ['Andi', 'Budi', 'Cinta', 'Donny', 'Elang']

['Donny', 'Cinta', 'Budi', 'Andi']

In [ ]:
# panjang list
len(nama_teman)

5

In [ ]:
# menambah teman baru .append()
nama_teman.append('Ferdie')
print(nama_teman)

['Andi', 'Budi', 'Cinta', 'Donny', 'Elang', 'Ferdie']

In [ ]:
nama_teman_update = nama_teman.append('Galih')

In [ ]:
print(nama_teman_update)

None

In [ ]:
# count (menghitung berapa kali sebuah nama muncul)

nama_teman.count('Budi')

1

In [ ]:
# index (mencari nomor kamar seseorang / value)

nama_teman.index('Andi')

0

In [ ]:
# insert (memasukkan nama teman baru di index yang diinginkan)

nama_teman.insert(0, 'Galih')
print(nama_teman)

['Galih', 'Andi', 'Budi', 'Cinta', 'Donny', 'Elang', 'Ferdie', 'Galih']

In [ ]:
# pop (mengambil nama yang paling belakang)

duplicate = nama_teman.pop()
print(duplicate)

Galih

In [ ]:
print(nama_teman)

['Galih', 'Andi', 'Budi', 'Cinta', 'Donny', 'Elang', 'Ferdie']

In [ ]:
# pop (mengambil nama sesuai index)

random = nama_teman.pop(1)
print(random)

Andi

In [ ]:
print(nama_teman)

['Galih', 'Budi', 'Cinta', 'Donny', 'Elang', 'Ferdie']

In [ ]:
nama_teman.append('Budi')
print(nama_teman)

['Galih', 'Budi', 'Cinta', 'Donny', 'Elang', 'Ferdie', 'Budi']

In [ ]:
# remove (Menghapus value tertentu)
# Jika terdapat value duplikat maka yang dihapus adalah value yang muncul pertama kali
nama_teman.remove('Budi')
print(nama_teman)

['Galih', 'Cinta', 'Donny', 'Elang', 'Ferdie', 'Budi']

In [ ]:
# Sort (mengurutkan secara abjad)
nama_teman.sort()

In [ ]:
print(nama_teman)

['Budi', 'Cinta', 'Donny', 'Elang', 'Ferdie', 'Galih']

In [ ]:
# reverse (membalik urutan)
nama_teman.reverse()

In [28]:
print(nama_teman)

['Galih', 'Ferdie', 'Elang', 'Donny', 'Cinta', 'Budi']

In [29]:
# variable      = list.copy() (method)
nama_teman_copy = nama_teman.copy()
nama_teman_copy

['Galih', 'Ferdie', 'Elang', 'Donny', 'Cinta', 'Budi']

In [30]:
nama_teman_copy.clear()

In [31]:
print(nama_teman_copy)

[]

# Tuple

In [32]:
bil_tuple = (10, 20, 30, 40, 50)
print(bil_tuple)

(10, 20, 30, 40, 50)

# Aksi yang bisa dilakukan

In [33]:
print(len(bil_tuple))
print(bil_tuple.count(10))
print(bil_tuple.index(10))
print(bil_tuple[3])
print(bil_tuple[0:4])

5
1
0
40
(10, 20, 30, 40)

# Aksi yang tidak bisa dilakukan

In [34]:
bil_tuple.append(60)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
bil_tuple.remove(10)

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
bil_tuple.pop()

AttributeError: 'tuple' object has no attribute 'pop'

# Dictionary

In [35]:
pegawai = {
    'ID' : '0001',
    'Nama' : 'Johny Depp',
    'Alamat' : 'Jakarta',
    'Pekerjaan' : 'Actor'
}
print(pegawai)

{'ID': '0001', 'Nama': 'Johny Depp', 'Alamat': 'Jakarta', 'Pekerjaan': 'Actor'}

In [36]:
pegawai['Nama']

'Johny Depp'

In [37]:
pegawai['Nama'] = 'Johny Dep'

In [38]:
print(pegawai)

{'ID': '0001', 'Nama': 'Johny Dep', 'Alamat': 'Jakarta', 'Pekerjaan': 'Actor'}

In [39]:
pegawai['Gaji'] = 25000000
print(pegawai)

{'ID': '0001', 'Nama': 'Johny Dep', 'Alamat': 'Jakarta', 'Pekerjaan': 'Actor', 'Gaji': 25000000}

In [40]:
# key : value
pegawai.keys()

dict_keys(['ID', 'Nama', 'Alamat', 'Pekerjaan', 'Gaji'])

In [41]:
pegawai.values()

dict_values(['0001', 'Johny Dep', 'Jakarta', 'Actor', 25000000])

In [42]:
data_pegawai = list(pegawai.items())

In [ ]:
data_pegawai

[('ID', '0001'),
 ('Nama', 'Johny Dep'),
 ('Alamat', 'Jakarta'),
 ('Pekerjaan', 'Actor'),
 ('Gaji', 25000000)]

In [44]:
data_pegawai[0][1] = '0002'

TypeError: 'tuple' object does not support item assignment

In [45]:
data_pegawai

[('ID', '0001'),
 ('Nama', 'Johny Dep'),
 ('Alamat', 'Jakarta'),
 ('Pekerjaan', 'Actor'),
 ('Gaji', 25000000)]

In [46]:
print(pegawai)

{'ID': '0001', 'Nama': 'Johny Dep', 'Alamat': 'Jakarta', 'Pekerjaan': 'Actor', 'Gaji': 25000000}

In [47]:
print(pegawai['ID'])

0001

In [48]:
print(pegawai['IDs'])

KeyError: 'IDs'

In [49]:
print(pegawai.get('ID'))

0001

In [50]:
print(pegawai.get('IDs', 'Key tidak ditemukan'))

Key tidak ditemukan

In [51]:
pegawai

{'ID': '0001',
 'Nama': 'Johny Dep',
 'Alamat': 'Jakarta',
 'Pekerjaan': 'Actor',
 'Gaji': 25000000}

In [52]:
pegawai2 = {
    'ID' : '0002',
    'Nama' : 'Chandra Liu',
    'Alamat' : 'Jakarta',
    'Pekerjaan' : 'Youtuber',
    'Gaji' : 30000000
}
daftar_pegawai = [pegawai, pegawai2]
daftar_pegawai

[{'ID': '0001',
  'Nama': 'Johny Dep',
  'Alamat': 'Jakarta',
  'Pekerjaan': 'Actor',
  'Gaji': 25000000},
 {'ID': '0002',
  'Nama': 'Chandra Liu',
  'Alamat': 'Jakarta',
  'Pekerjaan': 'Youtuber',
  'Gaji': 30000000}]

# Set

In [53]:
barang1 = {'palu', 'paku', 'kayu', 'meteran'}
barang2 = {'palu', 'paku payung', 'obeng', 'kayu', 'linggis', 'palu'}

In [54]:
print(barang1)

{'palu', 'paku', 'kayu', 'meteran'}

In [55]:
print(barang2)

{'kayu', 'obeng', 'linggis', 'paku payung', 'palu'}

In [56]:
len(barang1)

4

In [57]:
len(barang2)

5

In [58]:
barang1.add('besi')
print(barang1)

{'palu', 'meteran', 'paku', 'kayu', 'besi'}

In [59]:
barang2.update({'besi', 'gunting'})
print(barang2)

{'gunting', 'kayu', 'obeng', 'linggis', 'paku payung', 'besi', 'palu'}

In [60]:
barang2.remove('gunting')

In [61]:
print(barang2)

{'kayu', 'obeng', 'linggis', 'paku payung', 'besi', 'palu'}

In [62]:
'kayu' in barang2

True

In [63]:
'gunting' in barang2

False

In [64]:
print(barang1)
print(barang2)

{'palu', 'meteran', 'paku', 'kayu', 'besi'}
{'kayu', 'obeng', 'linggis', 'paku payung', 'besi', 'palu'}

In [65]:
barang1.difference(barang2)

{'meteran', 'paku'}

In [66]:
barang1.intersection(barang2)

{'besi', 'kayu', 'palu'}

In [67]:
barang1.union(barang2)

{'besi', 'kayu', 'linggis', 'meteran', 'obeng', 'paku', 'paku payung', 'palu'}