# Numeric: Integer & Float
Pengenalan tipe data numerik

In [4]:
x = 25

In [2]:
print(x)

25

In [3]:
print(x + 5)

30

In [5]:
type

type

In [6]:
a = 3.5

In [7]:
print(a)

3.5

In [8]:
type(a)

float

# Mathematical Process

In [9]:
# penjumlahan
#    25  3.5
print(x + a)

28.5

In [10]:
# pengurangan
print(x - a)

21.5

In [11]:
# perkalian
print(x * a)

87.5

In [12]:
# pembagian
print(x / a)

7.142857142857143

In [13]:
# pembagian (pembulatan)
print(x // a)

7.0

In [14]:
# pangkat
#    25 ^  3.5
print(x ** a)

78125.0

In [15]:
# pangkat
print(x ** 2)

625

In [16]:
# akar 2
print(x ** (1/2))

5.0

In [17]:
print(x ** 0.5)

5.0

In [18]:
import math
math.ceil(7/4)

2

In [19]:
math.floor(7/4)

1

In [20]:
print(7/4)

1.75

In [21]:
round(7/4)

2

In [22]:
# modulo / modulus / sisa pembagian
print(25 % 2)

1

# Boolean

In [23]:
type(True)

bool

In [24]:
type(False)

bool

In [25]:
True + True

2

In [26]:
True + False

1

In [27]:
True and True

True

In [28]:
True and False

False

In [29]:
True or False

True

In [30]:
False or False

False

# Operasi Perbandingan

In [ ]:
# > lebih dari
# < kurang dari
# >= lebih dari atau sama dengan
# <= kurang dari atau sama dengan
# == sama dengan
# != tidak sama dengan
# operasi perbandingan akan menghasilkan True atau False

In [31]:
a = 4
b = 5

In [32]:
hasil = a > b

In [33]:
print(hasil)

False

In [34]:
a == b

False

In [35]:
a < b

True

# String

In [36]:
message = "Hi, my name is Adi"
print(message)

Hi, my name is Adi

In [37]:
type(message)

str

In [38]:
message2 = 'Hi, my name is Adi'
print(message2)

Hi, my name is Adi

In [39]:
type(message2)

str

In [40]:
contoh_txt = "I'm Adi"
print(contoh_txt)

I'm Adi

In [41]:
type(contoh_txt)

str

In [90]:
# Gunakan " " di luar
contoh_txt2 = "I'm Adi"
print(contoh_txt2)

I'm Adi

In [91]:
contoh_txt3 = 'I\'m Adi'
print(contoh_txt3)

I'm Adi

In [89]:
contoh_txt4 = 'Hi, my name is Adi "The Data Scientist"'
print(contoh_txt4)

Hi, my name is Adi "The Data Scientist"

In [45]:
contoh_txt5 = '''Hi, my name is Adi
I'm a Data Scientist'''
print(contoh_txt5)

Hi, my name is Adi
I'm a Data Scientist

In [86]:
# Gunakan 3 tanda kutip
contoh_txt6 = """Hi, my name is Adi
I am a Data Scientist"""

print(contoh_txt6)

Hi, my name is Adi
I am a Data Scientist

In [47]:
contoh_txt7 = "Hi, my name is Adi\
I am a Data Scientist"
print(contoh_txt7)

Hi, my name is AdiI am a Data Scientist

## add new string

In [48]:
sentence1 = "Last week I went to Bangkok."
sentence2 = "I liked to shop there."

In [49]:
combine1 = sentence1 + sentence2
print(combine1)

Last week I went to Bangkok.I liked to shop there.

In [50]:
combine2 = sentence1 + " " + sentence2
print(combine2)

Last week I went to Bangkok. I liked to shop there.

In [51]:
contoh_txt = 'im"ridho'
print(contoh_txt)

im"ridho

In [52]:
sentence3 = "I went to Bangkok using airplane."
combine3 = combine2 + " " + sentence3
print(combine3)

Last week I went to Bangkok. I liked to shop there. I went to Bangkok using airplane.

In [53]:
sentence3 = "I went to Bangkok using airplane."
combine3 = combine2 + "\n" + sentence3
print(combine3)

Last week I went to Bangkok. I liked to shop there.
I went to Bangkok using airplane.

In [54]:
combine4 = f"{sentence1} {sentence2} {sentence3} \n The tickets cost me IDR {900000*3}"
print(combine4)

Last week I went to Bangkok. I liked to shop there. I went to Bangkok using airplane.
 The tickets cost me IDR 2700000

# String Methods

In [55]:
kalimat = "Saya suka bepergian dengan keluarga"

In [56]:
kalimat.upper()

'SAYA SUKA BEPERGIAN DENGAN KELUARGA'

In [57]:
print(kalimat)

Saya suka bepergian dengan keluarga

In [58]:
kalimat = kalimat.upper()
print(kalimat)

SAYA SUKA BEPERGIAN DENGAN KELUARGA

In [59]:
print(kalimat.upper())

SAYA SUKA BEPERGIAN DENGAN KELUARGA

In [60]:
kalimat.lower()

'saya suka bepergian dengan keluarga'

In [61]:
kalimat.swapcase()

'saya suka bepergian dengan keluarga'

In [62]:
4 + 2

6

In [63]:
kalimat.title()

'Saya Suka Bepergian Dengan Keluarga'

In [64]:
kalimat.isalpha()

False

In [65]:
kalimat.isalnum()

False

In [66]:
"sayasukabepergiandengankeluarga".isalpha()

True

In [67]:
"Adi123".isalnum()

True

In [68]:
kalimat.count("s")

0

In [69]:
kalimat.replace('a', 'i')

'SAYA SUKA BEPERGIAN DENGAN KELUARGA'

In [70]:
kalimat.replace("keluarga", "teman")

'SAYA SUKA BEPERGIAN DENGAN KELUARGA'

## String Indexing

In [71]:
kalimat[0]

'S'

In [72]:
# cara pertama
kalimat[15]

'G'

In [92]:
kalimat = "I am a Data Scientist"

# Cari huruf 'a' (ini akan berhasil)
print(kalimat[kalimat.index('a')])

a

In [93]:
kalimat.index('a')

2

In [94]:
kalimat[0:3]

'I a'

In [96]:
kalimat.split()

['I', 'am', 'a', 'Data', 'Scientist']

In [97]:
import pandas as pd

In [98]:
df = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [99]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [100]:
# contoh bikin kolom baru
df["name"] = "Adi Nugroho"
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,name
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,Adi Nugroho
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,Adi Nugroho
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,Adi Nugroho
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,Adi Nugroho
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,Adi Nugroho
...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,Adi Nugroho
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,Adi Nugroho
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,Adi Nugroho
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,Adi Nugroho
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,Adi Nugroho

In [84]:
name = df['name']
name

0        Adi Nugroho
1        Adi Nugroho
2        Adi Nugroho
3        Adi Nugroho
4        Adi Nugroho
            ...
16995    Adi Nugroho
16996    Adi Nugroho
16997    Adi Nugroho
16998    Adi Nugroho
16999    Adi Nugroho
Name: name, Length: 17000, dtype: object

In [85]:
df['First_Name'] = df['name'].str[0:5]
df['Last_Name'] = df['name'].str[6:10]
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,name,First_Name,Last_Name
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,Adi Nugroho,Adi N,groh
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,Adi Nugroho,Adi N,groh
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,Adi Nugroho,Adi N,groh
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,Adi Nugroho,Adi N,groh
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,Adi Nugroho,Adi N,groh

In [ ]:
!jupyter nbconvert --ClearMetadataPreprocessor.enabled=True \
  --to notebook \
  --output cleared_notebook.ipynb \
"/content/sample_data/New_Pilot_Class_SQL___Number_DateFormat&_SubQuery.ipynb"